<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Mathe
      </mat-panel-title>
      <mat-panel-description>
        Prozent Rechnung,...
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter</th>
      </tr>
      <tr>
        <td>Prozent Rechnung Basis</td>
        <td>A5, A6, 04.10.2023 Note: 3</td>
      </tr>

      <tr>
        <td>Prozent Rechnung Basis</td>
        <td>A5, A6, 09.10.2023 Note: ??</td>
      </tr>
    </table>
  </mat-expansion-panel>



  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Deutsch
      </mat-panel-title>
      <mat-panel-description>
        Diktakt
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter </th>
      </tr>
      <tr>
        <td>Ditakt: s-Laute, Nominalisierung</td>
        <td>A3, 25.09.2023 Note: ?</td>
      </tr>

      <tr>
        <td>Theater</td>
        <td>A3, 09.10.2023 Note: ?</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        English
      </mat-panel-title>
      <mat-panel-description>
        Simple Present, Present Perfect
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter</th>
      </tr>
      <tr>
        <td>Simple Present</td>
        <td>A1, 26.09.2023, Note: 2-</td>
      </tr>
      <tr>
        <td>Present perfect</td>
        <td>A2, 10.10.2023, Note: ??</td>
      </tr>
      <tr>
        <td>Vokabeln</td>
        <td>V2, 10.10.2023, Note: ??</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Französisch
      </mat-panel-title>
      <mat-panel-description>
        Sich vorstellen
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter</th>
      </tr>
      <tr>
        <td>Sich vorstellen</td>
        <td>A, 27.09.2023, Note: 1</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Latein
      </mat-panel-title>
      <mat-panel-description >
        Deklination
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter</th>
      </tr>
      <tr>
        <td matTooltip="
frater,fratris m -> der Bruder
salus, salutis f -> die Rettung, das Wohl
pugna, pugnae f -> der Kampf
gladius, gladii m -> das Schwert
vita, vitae f -> das Leben
puella, puellae f -> das Mädchen
ventus, venti m -> der Wind, der Sturm
deus, dei m -> der Gott
avus, avi m -> der Großvater
filius, filii m -> der Sohn
exemplum, exempli n -> das Beispiel, Vorbild
">Deklination</td>
        <td>A1, 28.09.2023, Note: ?</td>
      </tr>

      <tr>
        <td matTooltip="">Vokabeln</td>
        <td>A1, 05.10.2023, Note: ?</td>
      </tr>
      <tr>
        <td matTooltip="">Plusquamperfekt</td>
        <td>A1, 12.10.2023, Note: ?</td>
      </tr>
      <tr>
        <td matTooltip="">personalpronomen</td>
        <td>A1, 12.10.2023, Note: ?</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Physik
      </mat-panel-title>
      <mat-panel-description>
        schallwellen
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter</th>
      </tr>
      <tr>
        <td>schallwellen</td>
        <td>A1, 04.10.2023, Note: ?</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Biologie
      </mat-panel-title>
      <mat-panel-description>
        Deklination
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter</th>
      </tr>
      <tr>
        <td>Eigenschaften der Lebewesen</td>
        <td>04.10.2023, Note: ?</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Chemie
      </mat-panel-title>
      <mat-panel-description>
        Deklination
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter</th>
      </tr>
      <tr>
        <td>Deklination</td>
        <td>A1, 04.10.2023, Note: ?</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Kunst
      </mat-panel-title>
      <mat-panel-description>
        Deklination
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter</th>
      </tr>
      <tr>
        <td>Holz</td>
        <td>04.10.2023, Note: ?</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Religion
      </mat-panel-title>
      <mat-panel-description>
        Deklination
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter</th>
      </tr>
      <tr>
        <td>Deklination</td>
        <td>A1, 04.10.2023, Note: ?</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sport
      </mat-panel-title>
      <mat-panel-description>
        Deklination
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter</th>
      </tr>
      <tr>
        <td>Fußball</td>
        <td>04.10.2023, Note: ?</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Musik
      </mat-panel-title>
      <mat-panel-description>
        Deklination
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter</th>
      </tr>
      <tr>
        <td>Deklination</td>
        <td>A1, 04.10.2023, Note: ?</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Geschichte
      </mat-panel-title>
      <mat-panel-description>
        Deklination
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter</th>
      </tr>
      <tr>
        <td>Deklination</td>
        <td>A1, 04.10.2023, Note: ?</td>
      </tr>
    </table>
  </mat-expansion-panel>

</mat-accordion>

