<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Mathe
      </mat-panel-title>
      <mat-panel-description>
        Prozent Rechnung,...
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter</th>
      </tr>
      <tr>
        <td>Prozent Rechnung</td>
        <td>A5, A6, 04.10.2023 Note: ?</td>
      </tr>
    </table>
  </mat-expansion-panel>



  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Deutsch
      </mat-panel-title>
      <mat-panel-description>
        Diktakt
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter </th>
      </tr>
      <tr>
        <td>Ditakt: s-Laute, Nominalisierung</td>
        <td>A3, 25.09.2023 Note: ?</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        English
      </mat-panel-title>
      <mat-panel-description>
        Simple Present
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter</th>
      </tr>
      <tr>
        <td>Simple Present</td>
        <td>A1, 26.09.2023, Note: ?</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Französisch
      </mat-panel-title>
      <mat-panel-description>
        Sich vorstellen
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter</th>
      </tr>
      <tr>
        <td>Sich vorstellen</td>
        <td>A, 27.09.2023, Note: ?</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Latein
      </mat-panel-title>
      <mat-panel-description>
        Deklination
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter</th>
      </tr>
      <tr>
        <td>Deklination</td>
        <td>A1, 04.10.2023, Note: ?</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Physik
      </mat-panel-title>
      <mat-panel-description>
        Deklination
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter</th>
      </tr>
      <tr>
        <td>Deklination</td>
        <td>A1, 04.10.2023, Note: ?</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Biologie
      </mat-panel-title>
      <mat-panel-description>
        Deklination
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter</th>
      </tr>
      <tr>
        <td>Deklination</td>
        <td>A1, 04.10.2023, Note: ?</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Chemie
      </mat-panel-title>
      <mat-panel-description>
        Deklination
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter</th>
      </tr>
      <tr>
        <td>Deklination</td>
        <td>A1, 04.10.2023, Note: ?</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Kunst
      </mat-panel-title>
      <mat-panel-description>
        Deklination
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter</th>
      </tr>
      <tr>
        <td>Deklination</td>
        <td>A1, 04.10.2023, Note: ?</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Religion
      </mat-panel-title>
      <mat-panel-description>
        Deklination
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter</th>
      </tr>
      <tr>
        <td>Deklination</td>
        <td>A1, 04.10.2023, Note: ?</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sport
      </mat-panel-title>
      <mat-panel-description>
        Deklination
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter</th>
      </tr>
      <tr>
        <td>Deklination</td>
        <td>A1, 04.10.2023, Note: ?</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Musik
      </mat-panel-title>
      <mat-panel-description>
        Deklination
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter</th>
      </tr>
      <tr>
        <td>Deklination</td>
        <td>A1, 04.10.2023, Note: ?</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Geschichte
      </mat-panel-title>
      <mat-panel-description>
        Deklination
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Themen</th>
        <th>Benoteter</th>
      </tr>
      <tr>
        <td>Deklination</td>
        <td>A1, 04.10.2023, Note: ?</td>
      </tr>
    </table>
  </mat-expansion-panel>

</mat-accordion>

